html {
}
body {
  background-color: lemonchiffon;
  text-align: center;
  font-size: 12px; 
  font-family: 'Baloo Bhaina', cursive;
}
li:hover
{
background-color: gray;
}

li
{
width: 200px;
}

ul {
    list-style-position: inside;
}


